@font-face {
  font-family: "Segoe UI";
  src: url("/Segoe UI.woff") format("woff");
}

* {
  min-width: 0;
  min-height: 0;
  scrollbar-width: none;
}

::-webkit-scrollbar { 
  display: none;
}

body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

button {
  border: 0;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100%;
}

:root {
  font-size: 12px;
  line-height: 24px;

  height: 100%;
  color: #ffffff;
  background-color: #333333;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -webkit-touch-callout: none;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}
